body {
    background: #eee
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}
.filter{
    background-color : orange ; 
    cursor : pointer ; 
    margin-right : 2%; 
    text-align : center ; 
    outline : none ; 
    border : 1px solid black ;  
    border-radius : 2em;
    transition : .6s all ease-in-out ;
}
.filter:hover{
    background-color : rgba(31, 140, 217,0.9);
    transition : .6s all ease-in-out;
}
.col-md-3 > button{
    color :white ;
}
.col-md-3 > button:hover {
    text-decoration : none ;
    color : white; 
}
.card{
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.card:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.footer .container{
  max-width: 1170px;
  text-align: left;
}
.footer .container .row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: green;
  padding: 70px 0;
}
.footer .container .row .footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer .container .row .footer-col h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer .container .row .footer-col h4::before{
  content: '';
  position: absolute;
  
  bottom: -10px;
  background-color: grey;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .container .row .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer .container .row .footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff  ;
  display: block;
  transition: all 0.3s ease;
}
.footer .container .row .footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer .container .row .footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer .container .row .footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer .container .row .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer .container .row .footer-col{
    width: 100%;
  }
  
}

